*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  .sidebar{
    position: fixed;
    height: 100%;
    width: 180px;
    background: #e8e8e8;
    
  }
  
  .sidebar .nav-links{
    margin-top: 10px;
  }
  .sidebar .nav-links li{
    position: relative;
    list-style: none;
    height: 60px;
  }
  
  .sidebar .nav-links li:hover{
    background: lightblue;
  }
  
  .sidebar .nav-links li .links_name{
    color: black;
    font-size: 16px;
    font-weight: 400;
    white-space: nowrap;
  }
  .sidebar .nav-links li .buttons{
    padding-left: 20px;
    padding-top: 5px;
    
  }
  
  .btn-btn-primary{
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    font-size: 14px;
  }
  
  .home-section{
    position: relative;
    min-height: 100%;
    width: calc(100% - 180px);
    left: 180px;
    /*background: burlywood;*/
  }
  .home-section .left{
    position: relative;
    float: left;
    width: 55%;
    height: 100%;
    padding-left: 20px;
    padding-top: 10px;
  }
  
  .home-section .right{
    position: relative;
    float: right;
    height: 100%;
    width: 45%;
    padding-left: 20px;
    padding-top: 10px;
    
  }
  
  .home-section .right .chart1{
    height: 65%;
  }
  
  .home-section .right .chart2{
    height: 35%;
    padding-top: 30px;
  }

  #PUF-num{
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 13px;
    font-weight: bold;
    color: green;
  }