*{
    /* margin: 0; */
    /* padding: 0; */
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  body {
    display: flex;
  }
  .sidebar{
    display: none;
    background: #e8e8e8;
    flex: 1;    
    padding-left: 0px;
    padding-right: 0;
  }
  .sidebar > div.row {
    padding: 0 10px 0 10px;
  }
  
  .sidebar .nav-links{
  }
  
  .sidebar .nav-links li:hover{
    background: lightblue;
  }
  
  .sidebar .nav-links li .links_name{
    color: black;
    font-size: 16px;
    font-weight: 400;
    white-space: nowrap;
  }
  .sidebar .nav-links li .buttons{
    padding-left: 20px;
    padding-top: 5px;
    
  }
  .buttons {
    padding-top: 5px;
  }
  
  .btn-btn-primary{
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    font-size: 14px;
  }
  
  .home-section{
    flex: 10;
    display: flex;
  }
  .home-section .left{
    flex: 1;
    padding-left: 5px;
    padding-right: 10px;
    padding-top: 5px;
  }
  
  .home-section .right{
    flex: 1;
  }
  .home-section .left h4, .home-section .left h5 {
    padding: 10px 0 10px 10px;
    margin-bottom: 0;
  }
  
  .home-section .right .chart1{
  }
  
  .home-section .right .chart2{
    padding-top: 30px;
  }

  #PUF-num{
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 13px;
    font-weight: bold;
    color: green;
  }
.right {
}

.row.input-wrapper {
    /* padding-bottom: 15px; */
}

tr{
    background-color: antiquewhite;

}
td{
    background-color: antiquewhite;

}
table{
    color: #000000;
}

.toast-header {
    display: flex;
}

.toast-header strong {
    flex: 1;
}

#puf-select {
    width: 90%;
}

.card1 {
    padding-bottom: 35px;
}

.cols.bi-list::before {
    transform: rotate(90deg);
}
.bi-layout-three-columns::before,  .bi-dash-lg::before{
    transform: rotate(90deg);
}

.right .dropdown-toggle:after { content: none }

.right .dropdown-menu.show {
    padding: 10px;
}
.table {
    margin-bottom: 0px;
}
.table>:not(caption)>*>* {
    padding: 3px;
}
.controls {
    padding: 5px;
}
.controls .inner {
    padding: 5px;
    background-color: white;
    border-radius: 10px;
}

.controls .btn.btn-primary {
    background-color: cornflowerblue;
    border-color: cornflowerblue;
}

.controls .btn.btn-primary:hover {
    background-color: blue;
}

.number-display {
    width: 50%;
    border-radius: 10px;
    display: flex;
}

.number-display .item {
    flex: 1;
    padding: 5px;
}
.number-display .header {
    font-size: 12px;
}
.number-display .value {
    font-size: 20px;
}

.item:nth-child(even) {
    background-color: pink;
}

.item:nth-child(odd) {
    background-color: lightblue;
}


.controls .btn.btn-primary.active-button {
    background-color: crimson;
    border-color: crimson;
}